@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*ALTURA TOTAL*/
    width: 100vw; /*LARGURA TOTAL*/
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative; /*IMPORTANTE PARA FAZER O BLOCO DO MEIO FICAR CENTRALIZADO*/
    height: 100vh;  
}

section#telefone {
    position: absolute; /*SEMPRE ACOMPANHADO DE TOP 50% LEF 50% E TRANSFORM TRANSLATE (-59%, -50%)*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone5.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 42px;
    left: 15px;
    width: 234px;
    height: 470px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img { /*CONFIGURAÇÕES DAS IMG DOS ICONES*/
    width: 50px;
    margin: 10px; 
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover { /*CONFIGURAÇÕES BOTOES DE REDES SOCIAIS*/
    border: 2px solid rgba(255, 255, 255, 0.712); 
    transform: translate(-3px, -3px); /*ELE DA UMA LEVEMENTE SUSPENDIDA */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616); /*SOMBRA NO ICONE*/
    transition: transform 0.5s, border 2s; /*CONFIGURAÇÃO PARA DELAY AO CLICAR NO ICONE + TEMPO APARACIAO BORDA*/
}